*~
*.pyc
*.sublime-project
*.sublime-workspace
/node_modules
/npm-debug.log
/build
/local.log
/stats-*.html
/.idea/
/foo
/.vscode
/tools/names-groups-html
.vercel
.env*
.claude
/tools/a11y/.profile
/tools/a11y/out
